<%= content_for(:title) do %>
  Nouvel appro
<% end %>
<div class="container">
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
      <h1>Choix de modèle pour l' approvisionnement auprès de <%= @supply.brand.name %></h1>
      <br>

      <%= simple_form_for(@supply_batch, url: supply_supply_batches_path(@supply)) do |f| %>
        <%= f.error_notification %>
        <%= f.input :product_id, :label => "Modèle", :collection => @products %>
        <p><%= f.button :submit, :label => "Choisir les pointures" %></p>
      <% end %>
    </div>
    <div class="col-xs-2"></div>
  </div>
</div>
