<div class="text-center">
  <h1>Approvisionnements</h1>
  <br>
</div>
<div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <br>
          <%= link_to "Créer un nouvel approvisionnement", supplies_brand_choice_path, class: "btn btn-success" %>
        <br>
        <br>
        <br>
      </div>
    </div>
</div>

<div class="container">
  <% @supplies.each do |supply| %>
    <% if supply.status == "En cours" %>
      <div class="row bg-blue">
        <div class="col-xs-2">
          <h5>Commande <%= supply.id %></h5>
        </div>
        <div class="col-xs-2">
          <h5><%= supply.brand.name %></h5>
        </div>
        <div class="col-xs-4">
          <h5>Attendue le <%= supply.expected_reception_date %></h5>
        </div>
        <div class="col-xs-2">
          <%= link_to "Réception", supplies_reception_date_path(supply), class: "btn btn-success" %>
        </div>
        <div class="col-xs-2">
          <%= link_to "Annuler", supplies_cancel_path(supply), class: "btn btn-danger" %>
        </div>
        <hr>
      </div>
      <div class="row text-center strong">
        <div class="col-xs-5"></div>
        <div class="col-xs-1">
          <strong><p>Pointure</p></strong>
        </div>
        <div class="col-xs-3">
          <strong><p>SKU</p></strong>
        </div>
        <div class="col-xs-1">
          <strong><p>Type stock</p></strong>
        </div>
        <div class="col-xs-1">
          <strong><p>Quantité stock</p></strong>
        </div>
        <div class="col-xs-1">
          <strong><p>Quantité attendue</p></strong>
        </div>
      </div>
      <% supply.supply_batches.each do |batch| %>
        <div class="row text-center strong">
          <div class="col-xs-2"></div>
          <div class="col-xs-3">
            <h5><%= batch.product.name%></h5>
          </div>
          <div class="col-xs-7"></div>
        </div>
        <% batch.supply_batch_items.each do |item| %>
        <div class="row text-center">
          <div class="col-xs-5"></div>
          <div class="col-xs-1">
            <%= item.size%>
          </div>
          <div class="col-xs-3">
            <%= item.sku_name%>
          </div>
          <div class="col-xs-1">
            <%= item.product_ref.inventory_type%>
          </div>
          <div class="col-xs-1">
            <%= item.product_ref.inventory_quantity_cabine%>
          </div>
          <div class="col-xs-1">
            <%= item.expected_quantity%>
          </div>
        </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
