<div class="text-center">
  <h1>Retours fournisseurs</h1>
  <br>
</div>
<div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <br>
          <%= link_to "Créer un nouveau retour", returns_brand_choice_path, class: "btn btn-success" %>
        <br>
        <br>
        <br>
      </div>
    </div>
</div>

<div class="container">
  <% @returns.each do |ret| %>
    <% if ret.status == "A renvoyer" %>
      <div class="row bg-blue">
        <div class="col-xs-2">
          <h5>Retour <%= ret.id %></h5>
        </div>
        <div class="col-xs-2">
          <h5><%= ret.brand.name %></h5>
        </div>
        <div class="col-xs-4">
          <h5>A renvoyer le <%= ret.expected_date %></h5>
        </div>
        <div class="col-xs-2">
          <%= link_to "Envoi", returns_send_date_path(ret), class: "btn btn-success" %>
        </div>
        <div class="col-xs-2">
          <%= link_to "Annuler", returns_cancel_path(ret), class: "btn btn-danger" %>
        </div>
        <hr>
      </div>
      <div class="row text-center strong">
        <div class="col-xs-5"></div>
        <div class="col-xs-1">
          <strong><p>Pointure</p></strong>
        </div>
        <div class="col-xs-3">
          <strong><p>SKU</p></strong>
        </div>
        <div class="col-xs-1">
          <strong><p>Type stock</p></strong>
        </div>
        <div class="col-xs-1">
          <strong><p>Quantité stock</p></strong>
        </div>
        <div class="col-xs-1">
          <strong><p>Quantité renvoi</p></strong>
        </div>
      </div>
      <% ret.return_batches.each do |batch| %>
        <div class="row text-center strong">
          <div class="col-xs-2"></div>
          <div class="col-xs-3">
            <h5><%= batch.product.name%></h5>
          </div>
          <div class="col-xs-7"></div>
        </div>
        <% batch.return_batch_items.each do |item| %>
        <div class="row text-center">
          <div class="col-xs-5"></div>
          <div class="col-xs-1">
            <%= item.size%>
          </div>
          <div class="col-xs-3">
            <%= item.sku_name%>
          </div>
          <div class="col-xs-1">
            <%= item.product_ref.inventory_type%>
          </div>
          <div class="col-xs-1">
            <%= item.product_ref.inventory_quantity_cabine%>
          </div>
          <div class="col-xs-1">
            <%= item.quantity%>
          </div>
        </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
