<%= content_for(:title) do %>
  Nouveau retour
<% end %>
<div class="container">
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
      <h1>Créer un nouveau retour auprès de <%= @brand.name %></h1>
      <br>

      <%= simple_form_for(@return, url: returns_path(@return, :brand_id => @brand.id)) do |f| %>
        <%= f.error_notification %>
        <%= f.input :expected_date, as: :string, :input_html => { :data => {:provide => :datepicker, 'date-format': "dd/mm/yyyy", 'date-start-date': Date.today.strftime('%d-%m-%Y'), 'date-autoclose': true} } %>
        <%= f.input :comment, :label => "Observations" %>
        <p><%= f.button :submit, :label => "Choisir les pointures" %></p>
      <% end %>
    </div>
    <div class="col-xs-2"></div>
  </div>
</div>
