<%= content_for(:title) do %>
  <%= @brand.name %>
<% end %>
<% if @products.empty? %>
<div class="container">
  <div class="row">
    <div class="col-xs-1">
    </div>
    <div class="col-xs-10">
      <h3>Il n'y pas encore de modèle pour <%= @brand.name %></h3>
    </div>
  </div>
</div>
<% else %>
<div class="container">
 <div class="row">
   <div class="col-xs-3">
   </div>
   <div class="col-xs-9">
    <h4><%=@products.count%> modèles</h4>
    <br>
    <br>
     <div class="row">
       <% @products.each do |product| %>
         <div class="col-xs-12 col-sm-6 col-md-4">
           <div class="row" id="white-card">
             <br>
             <p>Nom : <%= product.name %></p>
             <p>Catégorie : <%= product.category %></p>
             <p>Genre : <%= product.gender %></p>
             <p>Disponibilité : <%= product.availability %></p>
             <p>Prix d'achat HT : <%= number_to_currency_fr(product.purchase_price_ht)%> &euro;</p>
             <p>Prix de vente HT : <%= number_to_currency_fr(product.gross_sell_price_ht)%> &euro;</p>
             <p>Taux de TVA : <%= product.vat_rate %></p>
             <p>Promotion online : <%= product.promotion_percentage %></p>
             <br>
             <%= link_to brand_product_product_refs_path(@brand, product) do %>
             <p>Pointures</p>
             <% end %>
             <br>
             <%= link_to edit_brand_product_path(@brand, product) do %>
             <div><i class="fa fa-pencil"></i></div>
             <% end %>
            </div>
          <hr>
        </div>
        <% end %>
      </div>
    </div>
    <div class="col-xs-1">
    </div>
  </div>
  <% end %>
</div>
<br>
<div class="row text-center">
  <%= link_to "Ajouter un modèle", new_brand_product_path(@brand), class: "btn btn-primary"%>
</div>
<br>

