<%= content_for(:title) do %>
  Pointures auto
<% end %>
<div class="container">
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
      <h1 class="text-center">Pointures automatiques pour <%= @brand.name %> - <%= @product.name %></h1>
      <br>

      <%= simple_form_for(@product_ref, :as => :product_ref_auto, url: brand_product_auto_create_product_ref_path(@brand, @product, @product_ref)) do |f| %>
        <%= f.error_notification %>
        <%= f.input :inventory_type, :label => "Type de stock Cabin(e)", :collection => ["En dépôt", "Acheté"] %>
        <%= f.input :inventory_brand_availability, :label => "Disponibilité chez la marque", :collection => ["Oui", "Non"] %>
        <p><%= f.button :submit, :label => "Créer les pointures" %></p>
      <% end %>
    </div>
    <div class="col-xs-2"></div>
  </div>
</div>
